/* Stylesheet for main page*/

body{
  font-family:"Comfortaa", Helvetica, serif;
  margin:0 auto;
  
}

/*Header and Nav*/
header{
  background: #F3DAD8;
  padding: 20px;

  
}

nav{
  text-align:right;
  padding-bottom: 10px;
  font-size:16px;
}

nav a{
  padding-left:10px;
  padding-right:10px;
  text-decoration:none;
  font-weight:bold;
  color:#7A6174;
}

nav a:hover{
  color:#FFF;
  /* text-decoration:underline #FFFFFF wavy; */
  
}


hr{
  border:1px dashed #7A6174;
}

.message{
  background:#FFFFFF;
  margin-top: 40px;
  margin-bottom: 30px;
  padding:20px;
  padding-bottom:30px;
  border-radius:10px;
  text-align:center;
}

.message h1{
  color:#7A6174;
}

.message p{
  color:#7A6174;
  padding-bottom: 10px;
}

.message #projects{
  background-color: #E4EDCF;
  border:none;
  text-decoration:none;
  color:#7A6174;
  font-weight:lighter;
  font-size: 16px;
  padding:10px 15px;
  border-radius: 5px;
}

/* Might change colors*/
.message #projects:hover{
  color:#FFF;
  background-color: #7A6174;
}

main{
  padding:20px;
}

.about-me h1{
  color:#7A6174;
  text-align:center;
}

/* May have to edit later to make mobile friendly*/
.descript-everything{
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width:100%;
}

.headshot{
  display:inline-block;
  vertical-align: top;
  margin:5px;
  padding: 15px;
  margin: 0 auto;

}

.description{
  display:inline-block;
  text-align:justify;
  margin:5px;
  margin:0 auto;
  line-height:1.4;
  max-width:48%;
}

.descript-buttons{
  text-align:center;
}

.description button{
  background-color: #F4C3C2;
  border:none;
  color: #FFF;
  font-weight:lighter;
  font-size: 16px;
  padding:10px 15px;
  border-radius: 5px;
  margin:5px;
}

footer{
  clear:both;
  padding-top:20px;
  padding-bottom:10px;
  font-size:12px;
  text-align:center;
}
